<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>체스</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <h1>로그인 화면</h1>
        <br clear="none"/>
        <form action="/login" method="post">
            <label class="roomName"><b>로그인</b></label>
            <input id="playerId" type="text" placeholder="아이디" name="playerId" required>
            <input id="password" type="text" placeholder="비밀번호" name="password" required>
            <br clear="none"/>
            <br clear="none"/>
            <input id="login" type="submit" value="로그인"/>
        </form>
    </body>
</html>